form {
  display: flex;
  align-items: stretch;
  padding: 10px 5px 5px 5px;
  padding-bottom: 1em;
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1em;
}

form * {
  margin: 0 10px;
  font-size: larger;
}

#posts > div {
  width: 100%;
  max-height: 100px;
  overflow-y: scroll;
  padding: 0 15px;
  font-family: monospace;
  font-size: larger;
}

.post {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.text-input {
  flex: 1;
  max-width: 520px;
}

.invalid {
  border: 2px solid rgb(189, 19, 19);
  background-color: rgba(189, 19, 19, 0.2);
}
