body {
  background-color: #f0f0f0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid lightgrey;
}

button {
  border: 1px solid #ccc;
  font-size: larger;
  outline: none;
  cursor: pointer;
  padding: 10px 12px;
}

button:hover {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}