form {
  display: flex;
  align-items: stretch;
  padding: 10px 5px 5px 5px;
  padding-bottom: 1em;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 1em;

  * {
    margin: 0 10px;
    font-size: larger;
  }
}
