@import './generic-tab-form';

#user-content-root > iframe {
  margin: auto;
  margin-bottom: 15px;
  display: block;
}

.user-post {
  margin-bottom: 15px;

  *:first-child {
    font-weight: bold;
  }

  *:last-child {
    font-family: monospace;
  }
}
