//! this file contains generic definitions and common things

$almost-black: #4d4d4d;
$dark-grey: #a9a9a9;
$lighter-grey: #ccc;
$light-grey: #ddd;

$context-menu-bg-color: #fafafa;

$invalid-red: #bd1313;
$invalid-red-bg: rgba(189, 19, 19, 0.2);

.generic-invalid {
  border: 2px solid $invalid-red;
  background-color: $invalid-red-bg;
}

body {
  background-color: $context-menu-bg-color;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid $light-grey;
}

button {
  border: 1px solid $lighter-grey;
  font-size: larger;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  display: block;
  margin: auto;

  &:hover {
    background-color: $light-grey;
  }

  &:active {
    background-color: $lighter-grey;
  }
}

.text-input {
  flex: 1;

  &.invalid {
    @extend .generic-invalid;
  }
}
