body {
  background-color: #f0f0f0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-bottom: 1px solid lightgrey;
}

.list-item:hover {
  text-decoration: underline;
}

.btn-label {
  margin: 0 5px;
}

.green-bg {
  background-color: rgb(65, 200, 29, 0.17);
}

.red-bg {
  background-color: rgba(223, 65, 21, 0.301);
}

/* lesson-12 */

.register-form {
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 5px;
  max-width: fit-content;
  min-width: fit-content;
  margin: 10px 0;
}

p#keylog > * {
  margin: 0 2px;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

#pizza-root .items {
  display: flex;
  flex-wrap: wrap;
}

#pizza-root .items * {
  margin: 5px;
}

.pizza-item {
  width: 120px;
  height: 120px;
  background-image: url('/images/pizza.jpeg');
  border: 1px solid grey;
}

.focused {
  border: 3px solid green;
}

/* lesson 13 */

.header {
  width: 100%;
  border: none;
  background-color: #dedede;
  cursor: pointer;
}

.content {
  border-bottom: 1px solid darkgrey;
  padding: 10px 0;
  background-color: #eeeeee;

  display: none;
}

.active {
  background-color: #c4c4c4;
}

.visible {
  display: block;
}