body {
  background-color: #f0f0f0;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  border-bottom: 1px solid lightgrey;
}

.list-item:hover {
  text-decoration: underline
}